openapi: 3.0.0

info:
  title: My API
  version: 1.0.0
  description: School Project API

servers:
  - url: https://syllabux-api.dcism.org
    description: Production Development
paths:
  /api/auth/register:
    post:
      summary: Register a new user
      tags: [Auth]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [first_name, last_name, email, password, role]
              properties:
                first_name:
                  type: string
                  example: John Paul
                last_name:
                  type: string
                  example: Gumandoy
                email:
                  type: string
                  example: jp@gmail.com
                password:
                  type: string
                  example: secret123
                role:
                  type: string
                  example: admin
      responses:
        201:
          description: User registered successfully
        400:
          description: Validation error
  /api/auth/login:
    post:
      summary: Login
      tags: [Auth]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, password, remember_me]
              properties:
                email:
                  type: string
                  example: jp@gmail.com
                password:
                  type: string
                  example: secret123
                remember_me:
                  type: boolean
                  example: true
      responses:
        200:
          description: User login successfully
        400:
          description: Validation error
        401:
          description: Invalid Credentials
  /api/auth/validatetoken:
    post:
      summary: Token validator
      tags: [Auth]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [token]
              properties:
                token:
                  type: string
                  example: kucannadsnjajkrtnjkdsanjknjkadjkjuandsanjkdalia
      responses:
        200:
          description: Token validated
        401:
          description: Invalid token
  /api/instructor-applications:
    post:
      summary: Application submission
      tags: [Instructor]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                [
                  about_self,
                  linkedin_url,
                  years_of_experience,
                  expertise_summary,
                  resume_link,
                ]
              properties:
                about_self:
                  type: string
                  example: "I'm a full-stack developer with a passion for teaching web technologies to beginners."
                linkedin_url:
                  type: string
                  example: "https://www.linkedin.com/in/jane-doe-dev"
                years_of_experience:
                  type: integer
                  example: 3
                expertise_summary:
                  type: string
                  example: "Specializes in JavaScript, React, and Node.js, with prior experience mentoring bootcamp students."
                resume_link:
                  type: string
                  example: "https://example.com/resumes/jane-doe-resume.pdf"
      responses:
        200:
          description: Submitted
        401:
          description: Failed to submit
